<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center">About Us</h1>
    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
      <section>
        <h2>Our Story</h2>
        <h5>
          <p>
            At "blogApp," our mission is simple: to create an exceptional
            reading experience for you. We are your ultimate reading companion,
            designed to elevate the way you engage with content.
          </p>
        </h5>
        <h3>Who are we?</h3>
        <h5>
          <p>
            "blogApp" is a dynamic reading platform that seamlessly integrates
            Angular's powerful navigation and Bootstrap's elegant design. This
            fusion of technology ensures that your reading experience is not
            just enjoyable, but also captivating and hassle-free.
          </p>
          <p>
            We're dedicated to making your reading journey as smooth and
            immersive as possible. With content powered by Firebase, we offer an
            extensive library of articles and stories, carefully curated for
            your reading pleasure.
          </p>
        </h5>
      </section>

      <section>
        <h2>Our Purpose : Empower Stories</h2>
        <h5>
          <p>
            Whether you're here to discover new knowledge, stay updated with the
            latest trends, or simply enjoy a good story, "blogApp" is here to
            cater to your interests. We've optimized our platform for speed,
            reliability, and security to ensure that your reading journey is
            everything you want it to be.
          </p>
          <p>
            At "blogApp," we understand the value of reading. That's why we
            provide a user-friendly, responsive environment where you can
            explore and engage with a rich selection of articles across diverse
            topics.
          </p>
          <p>
            Thank you for being a part of our story. We look forward to being a
            part of yours.
          </p>
        </h5>
        <h5>
          <p>
            <b>Connect with me on LinkedIn : </b>
            <a
              href="https://www.linkedin.com/in/anirudhgupta25/"
              target="_blank"
            >
              <img
                src="/assets/linkedin-icon.jpg"
                alt="LinkedIn"
                width="50"
                height="50"
              />
            </a>
          </p>
        </h5>
      </section>

      <div class="text-center" routerLink="">
        <button class="btn btn-danger btn-sm mt-4 btn-theme">
          Back to Home
        </button>
      </div>
    </div>
  </div>
</section>
