<section class="featured-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center mt-5">
        <h2 class="text-white">Featured Posts</h2>
        <p class="text-white">
          Discover the cream of our blog's content in the 'Featured Posts'
          section, where we showcase our most engaging and diverse articles.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3" *ngFor="let featuredPost of featuredPostsArray">
        <app-post-card [postData]="featuredPost"></app-post-card>
      </div>
    </div>
  </div>
</section>
<section class="container mt-5">
  <div class="col-md-12 text-center">
    <h2>Latest Posts</h2>
    <p>
      Explore fresh articles, insights, and stories that cover a wide array of
      topics. Be the first to dive into our latest ideas and discoveries, and
      stay engaged with our ever-evolving world of blogging.
    </p>
  </div>
  <div class="row">
    <div class="col-md-4 mt-3" *ngFor="let latestPost of latestPostArray">
      <app-post-card [postData]="latestPost"></app-post-card>
    </div>
  </div>
</section>
