<footer>
  <div class="row">
    <div class="col-md-12 text-center">
      <img
        class="blapplogo2"
        src="assets\blogApp-logos.jpeg"
        alt="blogApp Logo"
        width="100"
        height="30"
      />
      <div>
        <ul class="nav justify-content-center">
          <li class="nav-item"><a href="" class="nav-link">Home</a></li>
          <li class="nav-item">
            <a href="" class="nav-link" routerLink="about">About</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link" routerLink="term-conditions"
              >Terms & Conditions</a
            >
          </li>
          <li class="nav-item">
            <a href="" class="nav-link" routerLink="contact">Contact</a>
          </li>
        </ul>
      </div>
      <p class="mb-2 mt-2">Copyright © 2023 blogApp</p>
    </div>
  </div>
</footer>
