<div
  class="card shadow-effect"
  *ngIf="postData"
  [routerLink]="['/post', postData['id']]"
>
  <img
    src="{{ postData['data'].postImgPath }}"
    alt="Postcard"
    class="card-img-top"
    style="height: 300px"
  />
  <div class="card-body">
    <small class="bg-light text-danger text-center">
      {{ postData["data"].category.category }}
    </small>
    <small
      class="bg-light text-success text-center"
      style="margin-left: 5px"
      *ngIf="postData['data'].isFeatured"
    >
      Featured
    </small>
    <small class="bg-light text-info text-center" style="margin-left: 5px">
      {{ postData["data"].views }}
    </small>

    <h5 class="mt-1">{{ postData["data"].title }}</h5>
    <p>
      {{ postData["data"].excerpt }}
    </p>

    <small class="bg-light text-warning text-center ml-3"
      >last Updated - {{ postData["data"].createdAt.toMillis() | date }}</small
    >
  </div>
</div>
